﻿@model Sondy.Models.Sondy
@{
    ViewBag.Title = "Ajax";
}

<h2>Ajax</h2>

<script src="~/Scripts/jquery-3.1.1.js"></script>
@if (Model.AktualnaSonda != null)
{
<div id="AjaxDIV" class="show">




        <fieldset>
            <legend>@Model.AktualnaSonda.pytanie</legend>
            @for (int i = 0; i < Model.AktualnaSonda.odpowiedzi.Count; i++)
            {
                <div class="radio">
                    <label for="radios-0">
                        <input type="radio" name="radios" value="@i">
                        @Model.AktualnaSonda.odpowiedzi[i]
                    </label>
                </div>
            }

            <p>
                <input type="button" onclick="fire()" value="Wyslij" />
            </p>
        </fieldset>
    

</div>
<div id="JumboDIV"class="jumbotron hidden">
    <h1>@Model.AktualnaSonda.pytanie</h1>
    <div id="Wynik"></div>
</div>
}
    <script>

        function fire()
        {
            $.ajax(
                {
                    url: "/Sondy/AjaxHandler",
                    method: "POST",
                    data: {
                        radios: $(`input[name=radios]:checked`).val()
                    }
                }
            ).done(function (res) {
                console.log(res);
                $(`#AjaxDIV`).removeClass("show");
                $(`#AjaxDIV`).addClass("hidden");
                $(`#JumboDIV`).removeClass("hidden");
                $(`#Wynik`).append(res);
            })
            };

    </script>

