﻿@model Sondy.Models.Sonda
@{
    ViewBag.Title = "Answers";
}

<h2>Answers</h2>

<div class="jumbotron">
    <h1>@Model.pytanie</h1>
    @for (int i = 0; i < Model.liczbaOdpowiedzi; i++)
    {
        <span>@Model.odpowiedzi[i] (@Model.wyniki[i] = @Model.percentOfTotal(Model.wyniki[i])%)</span>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="@Model.percentOfTotal(Model.wyniki[i])" aria-valuemin="0" aria-valuemax="100" style="width: @Model.percentOfTotal(Model.wyniki[i])%;">
                    
                </div>
            </div>
    }
</div>

