﻿@model Sondy.Models.Sondy
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-md-4">
        <h2>Dzisiejsza data:</h2>
        <p>
            @DateTime.Today.ToString("d")
        </p>
    </div>
    @if (Model.AktualnaSonda != null)
    {
    <div class="col-md-4">
        <h2>Dzisiejsza sonda</h2>
        <p>
            @Model.AktualnaSonda.pytanie
        </p>
    </div>
    <div class="col-md-4">
        <h2>Wybierz wersje sondy:</h2>
        @Html.ActionLink("Ver1 (POST)", "Post", "Sondy")
        <br />
        @Html.ActionLink("Ver2 (AJAX)", "Ajax", "Sondy")
    </div>
    }
    else
    {
        <div class="col-md-8">
            <h2>Przepraszamy, brak aktualnej sondy</h2>
        </div>
    }
</div>