﻿@model Sondy.Models.Sondy
@{
    ViewBag.Title = "Post";
}

<h2>Ver1 (POST)</h2>
@if (Model.AktualnaSonda != null)
{

    using (Html.BeginForm("Answer", "Sondy", FormMethod.Post))
    {
        <fieldset>
            <legend>@Model.AktualnaSonda.pytanie</legend>
            @for (int i = 0; i < Model.AktualnaSonda.odpowiedzi.Count; i++)
            {
                <div class="radio">
                    <label for="radios-0">
                        <input type="radio" name="radios" value="@i">
                        @Model.AktualnaSonda.odpowiedzi[i]
                    </label>
                </div>
            }

            <p>
                <input type="submit" value="Wyslij" />
            </p>
        </fieldset>
    }

}



