﻿@model Sondy.Models.Sondy
@{
    ViewBag.Title = "Summary";
}

<h2>Podsumowanie wynikow wszystkich ankiet</h2>

@foreach (var item in Model.ListaSond)
{

    <div class="jumbotron">
        <h1>@item.pytanie</h1>
        @for (int i = 0; i < item.liczbaOdpowiedzi; i++)
        {
            <span>@item.odpowiedzi[i] (@item.wyniki[i] = @item.percentOfTotal(item.wyniki[i])%)</span>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="@item.percentOfTotal(item.wyniki[i])" aria-valuemin="0" aria-valuemax="100" style="width: @item.percentOfTotal(item.wyniki[i])%;">
                    
                </div>
            </div>
        }
    </div>
}

